


.cart {
    background: rgb(255, 255, 255);
    padding: 20px;

    border-radius: 10px;
    margin: 10px;
}
.cart-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cart img{
    height: 100px;

}
.cart button {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart button:hover {
    background: #513282;
}

@media only screen and (max-width: 1024px) {
    .cart-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}